<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Daftar Permintaan Pengiriman</title>
</head>
<body class="bg-light">
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="header">
    <h1 style="text-align: center; margin: 30px">Daftar Permintaan Pengiriman</h1>
</div>
<div class="text-center mb-2">
    <a type="button"
       class="btn btn-md btn-primary"
       th:href="@{/permintaan-pengiriman/tambah}">+ Tambah Permintaan Pengiriman</a>
</div>
<div class="container-sm">
    <div class="table-responsive-md"
    style="-webkit-box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1); -moz-box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1); box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);">
        <table class="table table-hover rounded rounded-3 overflow-hidden" style="color: #012970">
            <thead class="table" style="background-color: #012970; color: #fff;">
            <tr>
                <th class="text-center" style="padding: 1rem 1rem;">#</th>
                <th class="text-center" style="padding: 1rem 1rem;">Waktu Permintaan</th>
                <th class="text-center" style="padding: 1rem 1rem;">Nomor Pengiriman</th>
                <th class="text-center" style="padding: 1rem 1rem;">Nama Penerima</th>
                <th class="text-center" style="padding: 1rem 1rem;">Alamat Penerima</th>
                <th class="text-center" style="padding: 1rem 1rem;">Tanggal Pengiriman</th>
                <th class="text-center" style="padding: 1rem 1rem;">Action</th>
            </tr>
            </thead>
            <tbody class="table">
            <tr th:each="permintaanPengiriman, iterationStatus : ${listPermintaanPengiriman}" class="text-center">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${permintaanPengiriman.waktuPermintaan}"></td>
                <td th:text="${permintaanPengiriman.nomorPengiriman}"></td>
                <td th:text="${permintaanPengiriman.namaPenerima}"></td>
                <td th:text="${permintaanPengiriman.alamatPenerima}"></td>
                <td th:text="${permintaanPengiriman.tanggalPengiriman}"></td>
                <td>
                    <a type="button"
                       class="btn btn-md btn-primary"
                       th:href="@{permintaan-pengiriman/{idPermintaanPengiriman}(idPermintaanPengiriman=${permintaanPengiriman.id})}">Detail</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>