<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Detail Gudang</title>
</head>
<body class="bg-light">
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container-md d-flex flex-row p-5 bg-white rounded-3 mt-5"
     style="-webkit-box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1); -moz-box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1); box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);">
    <div class="back-btn-div">
        <a type="button" class="back-btn" th:href="@{/gudang}">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="40" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        </a>
    </div>
    <div class="container-sm ">
        <div class="top-section d-flex flex-row justify-content-between mb-5">
            <h3>Detail Gudang</h3>
            <input class="btn btn-primary btn-reply" type="button" value="+ Restock Barang">
        </div>
        <p th:text="'Nama Gudang:        '+${gudang.nama}"></p>
        <p th:text="'Alamat Gudang:      '+${gudang.alamatGudang}"></p>

        <h5 class="mt-5 mb-3">Daftar Barang Tersedia</h5>
        <div class="container-fluid">
            <div class="table-responsive-md">
                <table class="table table-hover rounded rounded-3 overflow-hidden" style="color: #012970">
                    <thead class="table" style="background-color: #012970; color: #fff;">
                    <tr>
                        <th class="text-center" style="padding: 1rem 1rem;">#</th>
                        <th class="text-center" style="padding: 1rem 1rem;">SKU</th>
                        <th class="text-center" style="padding: 1rem 1rem;">Merk</th>
                        <th class="text-center" style="padding: 1rem 1rem;">Stok</th>
                        <th class="text-center" style="padding: 1rem 1rem;">Harga</th>
                    </tr>
                    </thead>
                    <tbody class="table">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>