<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Detail Barang</title>
</head>
<body class="bg-light">
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container-md d-flex flex-row p-5 bg-white rounded-3 mt-5"
     style="-webkit-box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1); -moz-box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1); box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);">
    <div class="back-btn-div">
        <a type="button" class="back-btn" href="javascript:history.back()">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="40" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
        </a>
    </div>
    <div class="container-sm ">
        <div class="top-section d-flex flex-row justify-content-between mb-5">
            <h3>Detail Barang</h3>
            <a th:href="@{/barang/ubah/{sku}(sku=${barang.sku})}">
                <input class="btn btn-primary" type="button" value="Ubah Detail Barang">
            </a>
        </div>
        <div class="row">
            <div class="col-sm">
                <p>Merk</p>
            </div>
            <div class="col-6" th:text="': ' + ${barang.merk}"></div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p>SKU</p>
            </div>
            <div class="col-6" th:text="': ' + ${barang.sku}"></div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p>Tipe Barang</p>
            </div>
            <div class="col-6" th:text="': ' + ${tipeBarang}"></div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p>Total Stok</p>
            </div>
            <div class="col-6" th:text="': ' + (${totalStok} != null ? ${totalStok} : 0)"></div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p>Harga</p>
            </div>
            <div class="col-6" th:text="': ' + ${barang.hargaBarang}"></div>
            <div class="col-sm"></div>
        </div>

        <h5 class="mt-5 mb-3">Daftar Gudang</h5>
        <div class="container-fluid">
            <div class="table-responsive-md">
                <table class="table table-hover rounded rounded-3 overflow-hidden"
                       style="color: #012970"
                       th:if="${not #lists.isEmpty(listGudang)}">
                    <thead class="table" style="background-color: #012970; color: #fff;">
                    <tr>
                        <th class="text-center" style="padding: 1rem 1rem;">#</th>
                        <th class="text-center" style="padding: 1rem 1rem;">Nama Gudang</th>
                        <th class="text-center" style="padding: 1rem 1rem;">Alamat Gudang</th>
                        <th class="text-center" style="padding: 1rem 1rem;">Stok</th>
                    </tr>
                    </thead>
                    <tbody class="table">
                    <tr th:each="index : ${#numbers.sequence(0, listGudang.size() - 1)}" class="text-center">
                        <td th:text="${index+1}"></td>
                        <td>
                            <a th:href="@{/gudang/{idGudang}(idGudang=${listGudang[index].gudang.id})}" class="text-decoration-none">
                                <span th:text="${listGudang[index].gudang.nama}"></span>
                            </a>
                        </td>
                        <td th:text="${listGudang[index].gudang.alamatGudang}"></td>
                        <td th:text="${listGudang[index].stok}"></td>
                    </tr>
                    </tbody>
                </table>

                <p th:unless="${not #lists.isEmpty(listGudang)}">Tidak ada gudang yang menyimpan barang ini.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>