<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Filter Permintaan Pengiriman</title>
</head>
<body class="bg-light">
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="header">
    <h1 class="text-center m-3">Filter Permintaan Pengiriman</h1>
</div>
<div class="container-sm align-items-center justify-content-center text-center">
    <div class="row justify-content-center text-center">
        <form method="get" th:action="@{/filter-permintaan-pengiriman}" class="d-flex align-items-center justify-content-center mt-3 mb-3">
            <div class="container-sm mx-5">
                <div class="row">
                    <div class="col-5">
                        <input type="date" name="startDate" id="startDate" class="form-control bg-white" placeholder="dd-mm-yyyy"
                               th:value="${selectedStart}">

                    </div>
                    <div class="col">hingga</div>
                    <div class="col-5">
                        <input type="date" name="endDate" id="endDate" class="form-control bg-white" placeholder="dd-mm-yyyy"
                               th:value="${selectedEnd}">

                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <select class="form-select custom-select me-2" name="sku" id="sku">
                            <option th:each="barang: ${listBarang}"
                                    th:value="${barang.sku}"
                                    th:text="${barang.merk}"
                                    th:selected="${selected != null && barang.sku == selected.sku}"></option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary" style="width: 10rem">Cari</button>
                </div>
            </div>
        </form>


        <div class="container-fluid">
            <p th:if="${errorMessage != null}" class="m-3" th:text="${errorMessage}"></p>
            <div class="table-responsive-md"
            style="-webkit-box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1); -moz-box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1); box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);">
                <table class="table table-hover rounded rounded-3 overflow-hidden align-item-center"
                       style="color: #012970"
                       th:if="${not #lists.isEmpty(listFilter)}">
                    <thead class="table" style="background-color: #012970; color: #fff;">
                    <tr>
                        <th class="text-center" style="padding: 1rem 1rem;">#</th>
                        <th class="text-center" style="padding: 1rem 1rem;">Waktu Permintaan</th>
                        <th class="text-center" style="padding: 1rem 1rem;">Nomor Pengiriman</th>
                        <th class="text-center" style="padding: 1rem 1rem;">Nama Penerima</th>
                        <th class="text-center" style="padding: 1rem 1rem;">Alamat Penerima</th>
                        <th class="text-center" style="padding: 1rem 1rem;">Tanggal Pengiriman</th>
                    </tr>
                    </thead>
                    <tbody class="table">
                    <tr th:each="index : ${#numbers.sequence(0, listFilter.size() - 1)}" class="text-center">
                        <td th:text="${index+1}"></td>
                        <td th:text="${listWaktuPermintaan[index]}"></td>
                        <td>
                            <a th:href="@{/permintaan-pengiriman/{idPermintaanPengiriman}(idPermintaanPengiriman=${listFilter[index].permintaanPengiriman.id})}" class="text-decoration-none">
                                <span th:text="${listFilter[index].permintaanPengiriman.nomorPengiriman}"></span>
                            </a>
                        </td>
                        <td th:text="${listFilter[index].permintaanPengiriman.namaPenerima}"></td>
                        <td th:text="${listFilter[index].permintaanPengiriman.alamatPenerima}"></td>
                        <td th:text="${listTanggalPengiriman[index]}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
