<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Success Cancel Permintaan Pengiriman</title>
</head>

<body class="bg.light">
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="text-center">
                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.5 45C34.9264 45 45 34.9264 45 22.5C45 10.0736 34.9264 0 22.5 0C10.0736 0 0 10.0736 0 22.5C0 34.9264 10.0736 45 22.5 45ZM7.37092 27.409L15.5756 35.5812C16.3611 36.3636 17.6331 36.3577 18.4113 35.5682L37.6541 16.0466C38.4064 15.2833 38.4234 14.0627 37.6926 13.2788L35.1305 10.5304C34.3531 9.6966 33.0371 9.68016 32.2392 10.4943L18.4113 24.6035C17.6337 25.3969 16.3586 25.4046 15.5715 24.6206L12.761 21.8212C11.96 21.0234 10.6575 21.0475 9.88665 21.8744L7.31943 24.6282C6.58378 25.4173 6.60656 26.6476 7.37092 27.409Z" fill="#86F144"/>
                </svg>
                <br>
            </div>
            <div class="text-center">
                <h2 th:text="'Permintaan pengiriman dengan nomor pengiriman ' + ${nomorPengiriman} + ' berhasil dihapus.'"></h2>
                <br><br>
            </div>
            <div class="text-center m-3">
                <a class="btn btn-primary" href="/">Home</a>
                <a class="btn btn-primary" th:href="@{/permintaan-pengiriman}">Lihat Permintaan Pengiriman</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>